@use "../../styles/variables.scss" as v;

.progressBarContainer {
  width: 100%;
  background: v.$dark-purple;
  height: 10px;
  margin-bottom: 20px;

  .progressBar {
    background: v.$orange;
    height: 100%;
    transition: width 0.3s ease;
  }
}
