@use "../../styles/variables.scss" as v;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .text {
    font-family: v.$main;
    color: v.$text;
    text-align: center;
  }

  .stars {
    font-size: 40px;
  }
}
